.button-knowmore-green {
  border: 2.3px solid var(--berde);
  color: var(--berde);
  padding: 4px 1rem 4px 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(var(--berde), var(--berde));
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 150ms cubic-bezier(0, 0.94, 0.42, 0.995), color .300s ease;
}

.button-knowmore-green:hover {
  border: 2.3px solid var(--berde);
  color: var(--berde);
  padding: 4px 1rem 4px 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--puti);
  background-size: 100% 100%;
}
/* .button-knowmore-green:hover:after{
   content: '>';
} */


.button-white {
  border: 2.3px solid var(--puti);
  color: var(--puti);
  padding: 4px 1rem 4px 1rem;
  font-weight: bold;
  font-size: 1rem;
}
