@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --berde: #00cdac;
  --itim: #1d1d1d;
  --puti: #fdfdfd;
  --gray: #333333;
  --textgray: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #272341;
}
/* HOME */
.kevin-span {
  font-weight: 700;
  color: #00cdac;
}

/* ABOUT ME */
.background-ko {
  background: rgb(0, 204, 172);
  background: linear-gradient(
    307deg,
    rgba(0, 204, 172, 1) 19%,
    rgba(2, 170, 176, 1) 78%
  );
}
.shadow-ko {
  box-shadow: -1px -1px 51px -7px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -1px -1px 51px -7px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -1px -1px 51px -7px rgba(0, 0, 0, 0.53);
}

/* FOOTER */

.text--color {
  color: var(--textgray);
}
.hr--style {
  height: 1px;
  color: var(--textgray);
  background-color: var(--textgray);
  border-color: var(--textgray);
}

.arrow {
  position: relative;
  top: -10%;
  opacity: .7;
  transition: top .25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow:hover {
  top: -12%;
}

